@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1170px;
}

/* progress bar */

.CircularProgressbar .CircularProgressbar-path {
  stroke: #08d665;
}
.CircularProgressbar .CircularProgressbar-trail {
  stroke: #fff;
}
.CircularProgressbar-text {
  fill: yellow;
}
.CircularProgressbar .CircularProgressbar-path {
  fill: green;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #fff;
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
}

/* card css */
.service_s .card {
  position:relative;
  overflow:hidden;
  width:350px;
  margin:0 auto;
  background:#131617;
  padding:20px;
  box-sizing:border-box;
  text-align:center;
  box-shadow:0 10px 40px rgba(0,0,0,.5)
}
.service_s .card .layer {
  z-index:1;
  position:absolute;
  top:calc(100% - 2px);
  height:100%;
  width:100%;
  left:0;
  background:linear-gradient(to left , #036c32, #09c75f);
  transition:0.5s;
}
.service_s .card:hover  .layer{
  top:0;
}
.service_s .card:hover h2{
  color: #fff;
}
.service_s .card:hover p{
  color: #fff;
}